/* taliwind */
  @import "tailwindcss";

/* Noto Serif */
.noto-serif {
  font-family: "Noto Serif", serif;
}

/* inter */
.inter {
  font-family: "Inter", sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}
 /* share-color */
 .primary-color{
    color: #E95A08;
 }

 .secondary-color{
    color: #8987A1;
 }


/* card-section */
.plant-cards button{
    background-color: #E95A08;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    width: 270px;
    height: 50px;
}
 







/* Join the colorful Bunch */

.subscribe {
  display: grid;
  place-items: center;
  max-width: 1440px;
  height: 533px;
  background-image: url(./img/news-letter-bg.png);
  text-align: center;
  color: #fff;
  margin: 100px auto;
}

.content {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 750px;
}

.form {
  display: grid;
  grid-template-columns: 1fr auto;
}

input {
  padding: 15px;
  color: black;
  border: none;
  outline: none;
  background-color: #FFFFFF;
}

button {
  padding: 15px 24px;
  background: #f97316;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}







