/* taliwind */
  @import "tailwindcss";

/* Noto Serif */
.noto-serif {
  font-family: "Noto Serif", serif;
}

/* inter */
.inter {
  font-family: "Inter", sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}
 /* share-color */
 .primary-color{
    color: #E95A08;
 }

 .secondary-color{
    color: #8987A1;
 }


/* card-section */
.plant-cards button{
    background-color: #E95A08;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    width: 270px;
    height: 50px;
}
 


/* deal section */
.deals{
  margin-top: 100px;
}

.deal-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 40px;
 
}

.deal-left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.deal-right {
  height: 100%;
}

/* Shared box */
.deal-box {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: grid;
  place-items: center;
  min-height: 200px;
  
}

.deal-content {
  padding: 20px 30px;
  text-align: center;
  color: #fff;
}


.deal-content a {
  color: #f8f3f3;
  padding: 8px 16px;
  font-weight: bold;
  text-decoration: underline;
}




/* Join the colorful Bunch */

.colorful-bunch {
  display: grid;
  place-items: center;
  width:1440px;
  height: 533px;
  background-image: url(./img/news-letter-bg.png);
  text-align: center;
  color: #fff;
  margin: 100px auto;
  margin-left: -140px;
}

.colorful-container {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 750px;
}

.form {
  display: grid;
  grid-template-columns: 1fr auto;
}

input {
  padding: 15px;
  color: black;
  border: none;
  outline: none;
  background-color: #FFFFFF;
}

button {
  padding: 15px 24px;
  background: #f97316;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}









